.input {
  border-radius: 6px;
  padding: 8px 16px;
  color: var(--primary);
  border: 1px solid var(--terciary);
  background: transparent;

  &::placeholder {
    color: var(--terciary);
  }

  &:focus {
    border-color: var(--secondary);
  }
}