.tasks {
  list-style: none;
  margin-top: 32px;

  width: 100%;
  max-width: 500px;
}

.task {
  display: flex;
  align-items: center;
  column-gap: 6px;

  padding: 8px 16px;
  border-radius: 0 6px 6px 0;
  background: var(--background-light);

  border-left: 4px solid var(--secondary);

  & + li {
    margin-top: 12px;
  }

  strong {
    flex: 1;
    user-select: none;
    font-weight: 500;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: var(--terciary);

    svg {
      display: none;
      visibility: hidden;

      width: 7px;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    background: transparent;

    svg {
      width: 10px;
      color: var(--secondary);
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.active {
    strong {
      text-decoration: line-through;
    }

    span svg {
      display: block;
      visibility: visible;
    }
  }
}