.tasks {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.task {
  display: flex;
  align-items: center;
  column-gap: 10px;

  padding: 16px;
  border-radius: 0 8px 8px 0;
  background: var(--background-light);
  border-left: 8px solid var(--secondary);

  &.active {    
    .task__name {
      text-decoration: line-through;
    }

    .task__checkbox svg {
      visibility: visible;
    }
  }
}

.task__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: var(--terciary);

  svg {
    visibility: hidden;
  }
}

.task__name {
  flex: 1;
  user-select: none;
  font-size: 20px;
  font-weight: 500;
}

.task__remove {
  display: flex;
  border: 0;
  background: transparent;

  svg {
    color: var(--secondary);
  }

  &:hover {
    cursor: pointer;
  }
}