.container {
  width: 100%;
  display: flex;
  padding: 24px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 32px;

  margin: 0 auto;
  width: 100%;
  max-width: 720px;

  h1 {
    font-size: 64px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  hr {
    border: 0;
    margin: 10px 0;
    border-top: 1px solid var(--terciary);
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 6px;

    span {
      font-size: 20px;
      font-weight: 400;
      padding: 10px 16px;
      border-radius: 4px;
      background: var(--background-light);
    }

    strong {
      margin-left: 6px;
      padding: 2px 8px;
      border-radius: 4px;
      background: var(--secondary);
    }
  }
}