.form {
  display: flex;
  column-gap: 24px;

  input {
    flex: 1;
  }
}

.form__button {
  display: flex;
  align-items: center;
  column-gap: 8px;

  border: 0;
  padding: 0 16px;
  border-radius: 4px;
  background: var(--secondary);

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}