.form {
  display: flex;
  column-gap: 24px;
}

.form__input {
  flex: 1;
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--primary);
  border: 1px solid var(--secondary);
  background: var(--background-light);
}

.form__button {
  display: flex;
  align-items: center;
  column-gap: 8px;

  border: 0;
  padding: 0 16px;
  border-radius: 4px;
  background: var(--secondary);

  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
}