.container {
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--primary);
  border: 1px solid var(--secondary);
  background: var(--background-light);

  &::placeholder {
    color: var(--terciary);
  }
}